
body {
    font-family: monospace;
    max-width: 40rem;
    margin: 1rem auto;
}

.topright {
    text-align: right;
}

.index-heading {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.index-system .resolved {
    border-left: 0.5rem solid lightgreen;
    padding-left: 1rem;
}
.index-system .incident-warning {
    border-left: 0.5rem solid orange;
    padding-left: 1rem;
}
.index-system .incident-error {
    border-left: 0.5rem solid red;
    padding-left: 1rem;
}

article .tags {
    margin: 1rem 0;
}
article .tags .tag {
    display: inline-block;
    margin-right: 1rem;
    padding: 0.3rem 0.5rem;
    border: 1px solid;
}
