.markdown-body .content,
.markdown-body .desc {
    text-align: justify;
    -webkit-hyphens: auto;
    hyphens: auto
}
.markdown-body article h1, .markdown-body h1.no-bottom {
    margin-top: 0;
    margin-bottom: 1.5rem
}
.markdown-body .content a,
.markdown-body .desc a {
    text-decoration: underline;
}
.markdown-body ul.posts {
    list-style: none;
    margin: 0;
    padding: 0
}
.posts li {
    padding-top: 2em;
    margin: 0em 0;
    border-left: 1px solid #897EB4;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
    position: relative
}
.posts li::before {
    content: '';
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: #897EB4;
    position: absolute;
    left: -4.5px;
    bottom: 0;
}
.posts li h4 {
    margin: 2em 0 -1em 0;
}
.posts li.error {border-color: #FF4136;}
.posts li.error::before {background: #FF4136;}
.posts li.warning {border-color: #FF851B;}
.posts li.warning::before {background: #FF851B;}
.posts li.resolve {border-color: #2ECC40;}
.posts li.resolve::before {background: #2ECC40;}
.posts li span,
.about,
.meta {
    display: block;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px
}
.posts li span {
    display: inline-block;
    float: left;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    position: relative;
    left: -66px;
    font-family: monospace;
    letter-spacing: 1px;
    color: #897EB4;
}
.markdown-body .site-title {
    text-align: center;
    text-transform: none;
    font-size: 1.25em;
    letter-spacing: normal;
    border-bottom: none;
    margin-bottom: 3em;
}
.markdown-body .site-title a {
    color: white !important;
}
.markdown-body {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: white;
    background-color: #50408F;
    font-family: Verdana, "Helvetica Neue", sans-serif;
    font-size: 18px;
    line-height: 1.6;
    word-wrap: break-word;
    min-width: 200px;
    max-width: 500px;
    margin: 0 auto;
    padding: 30px
}
.markdown-body a {
    background: 0 0
}
.markdown-body a:active,
.markdown-body a:hover {
    outline: 0
}
.markdown-body strong {
    font-weight: 700
}
.markdown-body h1 {
    margin: .67em 0
}
.markdown-body img {
    border: 0
}
.markdown-body hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box
}
.markdown-body input {
    color: inherit;
    margin: 0
}
.markdown-body html input[disabled] {
    cursor: default
}
.markdown-body input {
    line-height: normal
}
.markdown-body input[type=checkbox] {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}
.markdown-body table {
    border-collapse: collapse;
    border-spacing: 0
}
.markdown-body td,
.markdown-body th {
    padding: 0
}
.markdown-body * {
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.markdown-body a {
    color: #eee;
    text-decoration: none
}
.markdown-body a:visited {
    color: white;
}
.markdown-body a:active,
.markdown-body a:hover {
    text-decoration: underline
}
.markdown-body hr {
    overflow: hidden;
    background: 0 0
}
.markdown-body hr:before {
    display: table;
    content: ""
}
.markdown-body hr:after {
    display: table;
    clear: both;
    content: ""
}
.markdown-body blockquote {
    margin: 0
}
.markdown-body ol,
.markdown-body ul {
    padding: 0
}
.markdown-body ol ol,
.markdown-body ul ol {
    list-style-type: lower-roman
}
.markdown-body ol ol ol,
.markdown-body ol ul ol,
.markdown-body ul ol ol,
.markdown-body ul ul ol {
    list-style-type: lower-alpha
}
.markdown-body dd {
    margin-left: 0
}
.markdown-body code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace
}
.markdown-body pre {
    font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace
}
.markdown-body>:first-child {
    margin-top: 0!important
}
.markdown-body>:last-child {
    margin-bottom: 0!important
}
.markdown-body .anchor {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    padding-right: 6px;
    padding-left: 30px;
    margin-left: -30px
}
.markdown-body .anchor:focus {
    outline: 0
}
.markdown-body h1 {
    padding-bottom: .25em;
    line-height: 1.2
}
.markdown-body h1 .anchor {
    line-height: 1
}
.markdown-body h2 {
    padding-bottom: .3em;
    line-height: 1.225
}
.markdown-body h2 .anchor {
    line-height: 1
}
.markdown-body h3 {
    line-height: 1.43
}
.markdown-body h3 .anchor {
    line-height: 1.2
}
.markdown-body h4 {}.markdown-body h4 .anchor {
    line-height: 1.2
}
.markdown-body h5 {
    font-size: 1em
}
.markdown-body h5 .anchor {
    line-height: 1.1
}
.markdown-body h6 {
    font-size: 1em;
    color: #777
}
.markdown-body h6 .anchor {
    line-height: 1.1
}
.markdown-body blockquote,
.markdown-body dl,
.markdown-body ol,
.markdown-body p,
.markdown-body pre,
.markdown-body table,
.markdown-body ul {
    margin-top: 0;
    margin-bottom: 16px
}
.markdown-body hr {
    height: 1px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0
}
.markdown-body ol,
.markdown-body ul {
    padding-left: 2em
}
.markdown-body ol ol,
.markdown-body ol ul,
.markdown-body ul ol,
.markdown-body ul ul {
    margin-top: 0;
    margin-bottom: 0
}
.markdown-body li>p {
    margin-top: 16px
}
.markdown-body dl {
    padding: 0
}
.markdown-body dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: 700
}
.markdown-body dl dd {
    padding: 0 16px;
    margin-bottom: 16px
}
.markdown-body blockquote {
    padding: 0 15px;
    color: #777;
    border-left: 4px solid #ddd
}
.markdown-body blockquote>:first-child {
    margin-top: 0
}
.markdown-body blockquote>:last-child {
    margin-bottom: 0
}
.markdown-body table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all
}
.markdown-body table th {
    font-weight: 700
}
.markdown-body table td,
.markdown-body table th {
    padding: 6px 13px;
    border: 1px solid #ddd
}
.markdown-body table tr {
    background-color: #fff;
    border-top: 1px solid #ccc
}
.markdown-body table tr:nth-child(2n) {
    background-color: #f8f8f8
}
.markdown-body img {
    max-width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.markdown-body code {
    padding: .2em 0;
    margin: 0;
    font-size: 85%;
    background-color: rgba(0, 0, 0, .04);
    border-radius: 3px
}
.markdown-body code:after,
.markdown-body code:before {
    letter-spacing: -.2em;
    content: "\00a0"
}
.markdown-body pre>code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    word-break: normal;
    white-space: pre;
    background: 0 0;
    border: 0
}
.markdown-body .highlight {
    margin-bottom: 16px
}
.markdown-body .highlight pre,
.markdown-body pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 3px
}
.markdown-body .highlight pre {
    margin-bottom: 0;
    word-break: normal
}
.markdown-body pre {
    word-wrap: normal
}
.markdown-body pre code {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0
}
.markdown-body pre code:after,
.markdown-body pre code:before {
    content: normal
}
.markdown-body:checked+.radio-label {
    z-index: 1;
    position: relative;
    border-color: #4183c4
}
a.current {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: block;
    margin-left: -9.5px;
    border: 3.5px solid #2ECC40;
    animation: beat 1.4s infinite;
    transform-origin: center;
    z-index: 100;
    position: relative;
}
a.current.error {border-color: #FF4136;}
.current-text.error{color: #FF4136;}
a.current.warning {border-color: #FF851B;}
.current-text.warning {color: #FF851B;}
.current-text {
    position: absolute;
    margin-top: -1.5em;
    margin-left: 1.5em;
    color: #2ECC40;
}
img.logo {
    display: block;
    margin: 0 auto;
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
    padding: 0 10px;
}
.topright {text-align:right}
@keyframes beat {
    0% {
        transform: scale(1);
    }
    14% {
        transform: scale(1.4);
    }
    28% {
        transform: scale(1);
    }
    42% {
        transform: scale(1.4);
    }
    70% {
        transform: scale(1);
    }
}
