
body {
    font-family: monospace;
    max-width: 40rem;
    margin: 1rem auto;
    padding: 0 1rem;
}

.bottom {
    margin: 2rem 0;
}
.topright, .bottomright {
    text-align: right;
}

.index-heading {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.index-heading h2 {
    margin-bottom: 0.5rem;
}
.index-system .resolved {
    border-left: 0.5rem solid lightgreen;
    padding-left: 1rem;
}
.index-system .incident-warning {
    border-left: 0.5rem solid orange;
    padding-left: 1rem;
}
.index-system .incident-error {
    border-left: 0.5rem solid red;
    padding-left: 1rem;
}

.uptime, .uptime-scale {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.uptime-scale {
    margin-top: 0.5rem;
}
.uptime-scale > span {
    flex: 1;
}
.uptime-scale > span:last-child {
    text-align: right;
}
.uptime > span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    height: 2rem;
    margin: 0 1px;
    background: lightgreen;
}
.uptime > span > a {
    display: block;
    width: 100%;
    flex: 1;
}
.uptime  a.resolved {
    background: lightgreen;
}
.uptime  a.resolve {
    background: lightgreen;
}
.uptime  a.incident-warning {
    background: orange;
}
.uptime  a.incident-error {
    background: red;
}
.uptime > span:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

.posts .post {
    padding: 0 1rem 1rem;
    margin: 1rem 0;
    border: 1px solid lightgray;
}

.tags {
    margin: 1rem 0;
}
.tags .tag {
    display: inline-block;
    margin-right: 1rem;
    padding: 0.3rem 0.5rem;
    border: 1px solid;
}

/* Place custom styling below */

