---
layout: default
title: Narro Status
---
<meta name="description" content="{{ site.description }}" />
<h1 class="site-title">
    <a href="/" title="{{ site.title }}">
        {{ site.title }}
    </a>
</h1>
<p class="current-text {{ site.posts.first.action }}">
    {{ site.posts.first.system }}
</p>

{% for tag in site.data.tags %}
{% if tag.key %}
<div class="index-system">
    <div class="index-heading">
        <h3>
            {{ tag.name }}
        </h3>
    </div>
    {% for post in site.tags[tag.slug] limit:1 %}
        <p class="{{ post.action }}">
            {% if post.action contains 'incident' %}
                <a href="{{ post.url }}">
                    {{ post.title }}
                </a>
            {% else %}
                <span class="resolved">
                    No known issues at this time.
                </span>
            {% endif %}
        </p>
    {% endfor %}
</div>
{% endif %}
{% endfor %}

<div class="index-heading">
    <h3>
        Uptime Last 30 Days
    </h3>
</div>
<hr/>
<div class="uptime" style="display: none">
    {% for post in site.posts limit:100 %}
    <span class="{{ post.action }}" data-action="{{ post.action }}" data-url="{{ post.url }}" data-title="{{ post.title }}" data-date="{{ post.date | date_to_xmlschema }}">
    </span>
    {% endfor %}
</div>

<div class="index-heading">
    <h3>
        Past Incidents
    </h3>
    <a href="/archive">
        View Archive
    </a>
</div>
<hr/>
<ul id="posts"  class="posts">
    {% for post in site.posts limit:3 %}
    <li class="{{ post.action }}">
        <h4>
            <a href="{{ post.url }}">
                {{ post.title }}
            </a>
        </h4>
        <span>{{ post.date | date_to_string }}</span>
    </li>
    {% endfor %}
</ul>
<script>
(function() {
    var wrapper = document.querySelector('.uptime'),
        posts   = document.querySelectorAll('.uptime span'),
        span    = false,
        n       = new Date(),
        o       = new Date(posts[0].dataset.date),
        day     = (1000 * 60 * 60 * 24),
        diff    = Math.floor((n.getTime() - o.getTime()) / day),
        weekDay = 6 - n.getDay(),
        i, j, k = 0;

    for (j = 0; j < diff; j++) {
        span = document.createElement('span');
        span.title = (new Date(o.getTime() + day * (diff - j))).toDateString();
        setTimeout(wrapper.appendChild.bind(wrapper, span), k * 10);
        k++;
    }
    for (i = 0; i < posts.length; i++) {
        span = document.createElement('span');
        span.title = posts[i].dataset.title;
        span.className = posts[i].dataset.action;
        setTimeout(wrapper.appendChild.bind(wrapper, span), k * 10);
        n = new Date(posts[i].dataset.date);
        o = posts[i + 1] ?
            new Date(posts[i + 1].dataset.date) :
            null;
        if (o) {
            diff = Math.floor((n.getTime() - o.getTime()) / day);
            for (j = 1; j < diff; j++) {
                span = document.createElement('span');
                span.title = (new Date(o.getTime() + day * (diff - j))).toDateString();
                setTimeout(wrapper.appendChild.bind(wrapper, span), k * 10);
                k++;
            }
        }
        wrapper.removeChild(posts[i]);
        k++;
    }
    wrapper.style.display = '';
})();
</script>
