---
layout: default
title: Narro Status
---
<meta name="description" content="{{ site.description }}" />
<h1 class="site-title">
    <a href="/" title="{{ site.title }}">
        {{ site.title }}
    </a>
</h1>
{% for tag in site.data.tags %}
{% if tag.scheduled %}
<div class="posts">
    {% for post in site.tags[tag.slug] limit:1 %}
        {% if post.action contains 'resolve' %}
        {% else %}
            <div class="post {{ post.action }}">
                <div class="tags">
                    <span class="tag {{ tag.slug }}">
                        {{ tag.name }}
                    </span>
                </div>
                <h3>
                    <a href="{{ post.url }}">
                        {{ post.title }}
                    </a>
                </h3>
            </div>
        {% endif %}
        </div>
    {% endfor %}
</div>
{% endif %}
{% endfor %}

{% for tag in site.data.tags %}
{% if tag.system %}
<div class="index-system">
    <div class="index-heading">
        <h2>
            {{ tag.name }}
        </h2>
    </div>
    <hr/>
    {% for post in site.tags[tag.slug] limit:1 %}
        <p class="{{ post.action }}">
            {% if post.action contains 'incident' %}
                <h3 class="{{ post.action }}">
                    <a href="{{ post.url }}">
                        {{ post.title }}
                    </a>
                </h3>
            {% else %}
                <h3 class="resolved">
                    No known issues at this time.
                </h3>
            {% endif %}
        </p>
    {% endfor %}
</div>
{% endif %}
{% endfor %}

<div class="index-heading">
    <h2>
        Uptime Last {{ site.uptime_days }} Days
    </h2>
</div>
<hr/>
<div class="uptime" style="display: none">
    {% for post in site.posts limit:100 %}
    <span class="{{ post.action }}" data-action="{{ post.action }}" data-url="{{ post.url }}" data-title="{{ post.title }}" data-date="{{ post.date | date_to_xmlschema }}">
    </span>
    {% endfor %}
</div>
<div class="uptime-scale">
    <span>
        {{ site.uptime_days }} Days Ago
    </span>
    <span>
        Latest
    </span>
</div>

<div class="index-heading">
    <h2>
        Past Incidents
    </h2>
    <a href="/archive">
        View Archive
    </a>
</div>
<hr/>
<div id="posts"  class="posts">
    {% for post in site.posts limit:3 %}
    <div class="post {{ post.action }}">
        <h3>
            <a href="{{ post.url }}">
                {{ post.title }}
            </a>
        </h3>
        <span>{{ post.date | date_to_string }}</span>
    </div>
    {% endfor %}
</div>
<script>
(function() {
    var wrapper = document.querySelector('.uptime'),
        posts   = document.querySelectorAll('.uptime span'),
        span    = false,
        a       = false,
        dayp    = false,
        n       = new Date(),
        day     = (1000 * 60 * 60 * 24),
        o       = new Date(n.getTime() - day * {{ site.uptime_days }}),
        diff    = Math.floor((n.getTime() - o.getTime()) / day),
        i, j    = 0;

    for (j = diff; j >= 0; j--) {
        span = document.createElement('span');
        n = (new Date(o.getTime() + day * (diff - j)));
        span.title = n.toDateString();
        span.setAttribute('data-date', n.toJSON().slice(0, 10));
        wrapper.appendChild(span);
    }
    for (i = 0; i < posts.length; i++) {
        a = document.createElement('a');
        n = (new Date(posts[i].dataset.date));
        a.title     = n.toDateString() + ' ' + posts[i].dataset.title;
        a.className = posts[i].dataset.action;
        a.href      = posts[i].dataset.url;
        dayp = wrapper.querySelector('[data-date="' + n.toJSON().slice(0, 10) + '"]');
        if (dayp) {
            dayp.appendChild(a);
        }
        wrapper.removeChild(posts[i]);
    }
    wrapper.style.display = '';
})();
</script>
